/*200px*/
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Roboto, sans-serif;
  font-weight: 100; }

/*----------------------------------------------------------
					STYLE GRID BEGIN
----------------------------------------------------------*/
.container {
  /*@include perspective(100px);*/
  /*@include perspective-origin(50%, 50%);*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*margin-top: ($block-size + ($block-margin * 2)) * 3 / -2;*/
  /*margin-left: ($block-size + ($block-margin * 2)) * 3 / -2;*/
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  .container:after {
    display: table;
    content: '';
    clear: both; }

.grid-3d {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  -o-transform: translateZ(-100px);
  -ms-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px); }
  .grid-3d a {
    color: inherit;
    text-decoration: none; }
  .grid-3d > li {
    float: left; }
  .grid-3d:after {
    display: table;
    content: '';
    clear: both; }

.grid-3d-item {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  margin: 1px;
  background-color: #111;
  width: 16.5%;
  text-align: center;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.7;
  border: 1px solid rgba(153, 153, 153, 0.5);
  overflow: hidden; }
  .grid-3d-item:hover {
    opacity: 1; }

/*----------------------------------------------------------
					STYLE GRID END
----------------------------------------------------------*/
.grid-3d-item__bg {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  /*background: url(../img/The-Thick-Forest.jpg) center no-repeat;*/
  /*background-size: cover;*/
  /*opacity: 0.1;*/
  /* 	background: #66CC33;
  background: #61d7a4; Old browsers
  background: -moz-radial-gradient(center, ellipse cover,  #61d7a4 0%, #218359 100%); FF3.6+
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#61d7a4), color-stop(100%,#218359)); Chrome,Safari4+
  background: -webkit-radial-gradient(center, ellipse cover,  #61d7a4 0%,#218359 100%); Chrome10+,Safari5.1+
  background: -o-radial-gradient(center, ellipse cover,  #61d7a4 0%,#218359 100%); Opera 12+
  background: -ms-radial-gradient(center, ellipse cover,  #61d7a4 0%,#218359 100%); IE10+
  background: radial-gradient(ellipse at center,  #61d7a4 0%,#218359 100%); W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61d7a4', endColorstr='#218359',GradientType=1 ); IE6-9 fallback on horizontal gradient */ }

.grid-3d-item__bg:hover .grid-3d-item__title {
  top: 0;
  opacity: 0; }
.grid-3d-item__bg:hover .grid-3d-item__opacity {
  opacity: 0.6; }
.grid-3d-item__bg:hover .grid-3d-item__descp {
  bottom: 0;
  background: rgba(28, 28, 28, 0.9); }

.grid-3d-item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: -19px;
  margin-left: -38px;
  font-size: 2em;
  text-transform: uppercase;
  transition: all 1s; }

.grid-3d-item__opacity {
  width: 100%;
  height: 100%;
  background: url(../img/The-Thick-Forest.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.3;
  transition: opacity 1s; }

.grid-3d-item__descp {
  position: absolute;
  left: 0;
  bottom: -65%;
  width: 100%;
  height: 65%;
  background: rgba(28, 28, 28, 0);
  transition: all 1s; }

/*# sourceMappingURL=style.css.map */
